* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  min-height: 100vh;
  background: #f0f0f0;
}

#commands,
#definitions {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#rules {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 20px;
}

#rules p {
  text-align: center;
}

hr {
  width: 100%;
}

#definitions div {
  display: flex;
  gap: 5px;
  align-items: center;
}

#definitions div div {
  width: 20px;
  height: 20px;
  border: solid 1px;
}

#bee {
  background-color: #f7e93e;
}

#hornet {
  background-color: red;
}

#hive {
  background-color: orange;
}

#queen {
  background-color: blue;
}

#bee-larva {
  background-color: brown;
}

#hornet-larva {
  background-color: purple;
}
